<body>
    <footer>
        <div style="max-width: 550px;">
            <img src="../../assets/logo.png" alt="">
            <p style="color: white;">Gravação e Arranjos, arranjador produtor musical de sucesso, contatos no meio musical, compositores, cantores, bandas, Parceria para Letristas, divulgação para rádios e gravadoras.</p>
        </div>
        <ul class = "">
          <li class="icons">
            <img src="../../assets/icons/tt.png" alt="">
          </li>
          <li class="icons">
            <img src="../../assets/icons/email.png" alt="">
          </li>
          <li class="icons">
            <img src="../../assets/icons/ig.png" alt="">
          </li>
        </ul>
        <div class="text">
            <img src="../../assets/prop.png" alt="">
        </div>
        <a href="#hero"><img src="../../assets/icons/arrow.png" alt="" id="arrow-down"></a>
    </footer>
    <div style="margin:20px 0;">
      <span style="font-size: 25px; color: white; ">DESENVOLVIDO POR BÉTANNY (e o quarteto maravilha)</span>
    </div>
</body>
