.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > div{
  margin-top: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 4px solid #00BAE8;
  border-radius: 8px;
  width: 80%;
}

ul{
  display: flex;
  list-style: none;
  gap: 32px;
  color: #00BAE8;
  cursor: pointer;
}


li{
  font-size: 25px;
}
.navbar > div > img{
  position: absolute;
  right: 64px;
  top: 16px;
  width: 40px;
}

@media (min-width: 701px) {
  .sidebar-slider,.sidebar{
    display: none;
  }
}

@media (max-width: 700px) {
  .sidebar{
    display: block;
  }
  .navbar{
    display: none;
  }

  .sidebar-opener {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}



.sidebar-slider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: translateX(-100%);
    transition: ease-in-out 300ms transform;
    width: 260px;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-close {
    position: fixed;
    top: 0;
    right: 0;
    color: #00BAE8;
    cursor: pointer;
    padding: 16px;
}

.sidebar-content > ul {
    margin-top: 80px;
    display: flex;
    z-index: 2;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    color: white;
    font-size: 32px;
    font-weight: 900;
    padding: 16px;
    height: 100%;
}
}
