@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, *{
  margin: 0;
  padding: 0;
  font-family: 'Magra', sans-serif;
  box-sizing: border-box;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

@media (max-width: 700px) {


  div > img{
    max-width: 350px;
  }

  p{
    max-width: 350px!important;
  }

  #arrow{
    bottom: 10px;
    right: 10px;
    width: 64px;
  }
}
